<%-include("partials/header.ejs")%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/about.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <p>Hii!!, Myself SRIVASTHAV. Let me introduce myself...</p>
            <br>
        <p>I'm a passionate and quick learner. I commit to work long hours.</p>
    <br>
        <p>My Skills :</p>
<br>
    <p>I-> C Programming</p>
<br>
    <p>II-> PYTHON Programming</p>
<br>
    <p>III->HTML</p>
    <br>
    <p>IV->CSS</p>
    <br>
    <p>V->JAVASCRIPT</p>
    <br>
    <p>VI-> BASICS OF JAVA</p>
    <br>
    <p>VII->NODE JS</p>
           
</div>
    </div>
    
</body>
</html>
